<%= form_for(@post, html: {multipart: true}) do |f| %>

  <ul>
  <% @post.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :image, "Attach an Image" %><br>
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.label :photo_url, "Or Insert a URL" %><br>
    <%= f.text_field :photo_url %>
  </p>
  <p>
    <%= f.label :tag_list, "Tag Your Image! Separate with commas." %><br />
    <%= f.text_field :tag_list %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
